
@import url('https://fonts.googleapis.com/css2?family=Prata:wght@400&display=swap');
#box{
  font-family: "Prata";
}
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution:wght@400&display=swap');
#bo{
  font-family: 'Protest Revolution';
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
#slider{
  font-family: "Playfair Display";
}
